<p>por-pais works!</p>
<div class="grid">
    <div class="col-span-auto">
        <form (ngSubmit)="buscar()" action="" autocomplete="off">
            <input type="text"
            name="termino"
            [(ngModel)]="termino"
            placeholder="buscar por pais."
            class="text-white">
        </form>
    </div>
</div>

<hr>

<div *ngIf="this.hayError" class="bg-red">
    <p>No se encontro nada con el termino: {{termino}}</p>
</div>

<div>
    <div>
        <table class="table-auto">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Poblacion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Bandera</td>
                    <td>nombre</td>
                    <td>99999</td>
                    <td><a href="#">Ver mas</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>