
<div class="grid animate__animated animate__fadeIn animate__fast">
    <div class="col-span-auto">
        <app-pais-input 
        (onEnter)="buscar( $event )"
        placeholder="Buscar por lenguaje... (Only searches in Eng)"
        ></app-pais-input>
    </div>
</div>


<hr>

<div *ngIf="this.hayError" class="text-xs sm:text-xl m-4 p-4 text-white">
    <p>No se encontro nada con el termino: {{termino}}</p>
</div>

<div *ngIf="paises.length > 0">
    <div class="flex justify-center">
        <app-pais-tabla [paises]="this.paises"></app-pais-tabla>
    </div>
</div>